.cardsGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;

    .leftGroup {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;
    }

    .rightGroup {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 720px) {
  .cardsGroup {
    flex-direction: column;
  }
}
