.bannerContainer {
  position: relative;
  width: 100%;
  .bannerCarousel {
    .bannerItem {
      width: 100%;
      height: 100%;
      div {
        display: flex;
        justify-content: right;
      }
    }

  }
}

@media (max-width: 992px) {
  .bannerContainer {
    .bannerCarousel {
      margin-top: 20px;
      width: 150%;
      margin-left: -50%;
      .bannerItem {

      }
    }
  }
}
